#root {
    -fx-background-image: url("../images/background/playBg.png");
    -fx-background-size: 100% 100%; /* ép vừa khít */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}