
/* Style cho ImageView */
ImageView {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0, 0, 2);
    -fx-opacity: 0.9;
}

/* Style cho HBox */
HBox {
    -fx-padding: 10 0 10 0;
}

/* Style cho tất cả Button */
Button {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-size: 6px;
    -fx-background-radius: 6;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3, 0, 0, 1);
    -fx-padding: 6 18 6 18;
    -fx-transition: background-color 0.2s ease;
}

/* Hover hiệu ứng cho Button */
Button:hover {
    -fx-background-color: #3498db;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.3), 6, 0, 0, 0);
}

/* Style cho Label */
Label {
    -fx-font-size: 10   px;
    -fx-font-weight: bold;
    -fx-text-fill: #ecf0f1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 3, 0, 1, 1);
    -fx-font-family: "Arial Black", Gadget, sans-serif;

    /* Giữ nguyên vị trí theo layoutX và layoutY */
    -fx-alignment: top-left;
    -fx-text-alignment: left;
    -fx-wrap-text: false;
}
