/* Nền gradient tối */
#root {
    -fx-background-image: url("../images/bg.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.title-text {
    -fx-font-family: "Segoe UI Black", "Arial Black", sans-serif;
    -fx-font-size: 70px;
    -fx-fill: linear-gradient(from 0% 0% to 100% 0%, #0ff, #08f);
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 255, 0.9), 25, 0.3, 0, 0);
    -fx-stroke: rgba(0, 200, 255, 0.6);
    -fx-stroke-width: 1.5;
    -fx-opacity: 1.0;
    -fx-text-alignment: center;
}

.menu-button {
    -fx-background-color: linear-gradient(to right, #0080ff, #0055cc);
    -fx-text-fill: white;
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-padding: 14 45 14 45;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 6, 0.1, 0, 3);
    -fx-transition: all 0.3s ease;
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to right, #00bfff, #0080ff);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0, 235, 255, 0.9), 14, 0.4, 0, 6);
}


.footer-text {
    -fx-fill: #666;
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI";
}
